.button {
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  &_empty {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 4px;
  }
  &_primary {
    background: #FF5500;
    &:disabled {
      background: #FFA375;
    }
    &:hover {
      background: #E94E00;
    }
  }
  &_default {
    background: none;
    border: 1px solid #FF5500;
    color:#FF5500;
    &:disabled {
      border-color: #FFA375;
      color:#FFA375;
    }
    &:hover {
      border-color: #E94E00;
      color:#E94E00;
    }
  }
}