$primaryColor: #FF5500;
$disabledColor: #FFA375;
$hoverColor: #E94E00;
$gray: #333333;
$white: #ffffff;
$backroundColor: #F5F5F5;

.main {
  padding: 24px 32px;
  background-color: $backroundColor;
  flex-grow: 1;
  //min-height: calc(100vh-;
  // display: flex;
  // justify-content: space-between;
  // width: 100%;
  // background-color: $gray;
  // color: $white;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  //min-height: 100vw;
}