.side-bar {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 8px;
  background-color: white;
  //height: 100%;
  &-plug {
    width: 408px;
    flex-shrink: 0;
  }
  &-title {
    font-weight: 600;
    line-height: 20px;
    margin-bottom: 4px;
  }
}

.list {
  flex-grow: 1;
  flex-direction: column;
  display: flex;
  gap: 16px;
}

.spiner-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin-top: 80px;
}

.empty {
  display: flex;
  margin-top: 50px;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  &-icon {
    width: 50px;
    height: 50px;
    background-color: #333333;;
  }
}