$primaryColor: #FF5500;
$disabledColor: #FFA375;
$hoverColor: #E94E90;

.ticketcard {
  background-color: white;
  padding: 24px;
  display: flex;
  gap: 24px;
  width: 100%;
  border-radius: 8px;
  &-leftbar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E0E0E0;
    border-radius: 8px;
    position: relative;
    width: 100px;
    height: 120px;
    flex-shrink: 0;
  }
  &-image {
    border-radius: 8px;
    position: relative;
    object-fit: cover;
  }
  &-rightbar {
    display: flex;
    gap: 8px;
  }
  &-button {
    background-color: white;
  }
  &-close {
    background-color: #333333;
  }
  &-body {
    
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &-genre {
    font-style: italic;
  }
  &-title {
    font-weight: 600;
    line-height: 20px;
    transition: color 0.5s;
    cursor: pointer;
    &:hover {
      color: $primaryColor;
      transition: color 0.5s;
    }
  }
}

.poster-empty {
  background-color: #828282;
  height: 32px;
  width: 32px;
}
