$up: '0deg';
$right: '90deg';
$down: '180deg';
$left: '270deg';

.icon {
  width: 100%;
  height: 100%;
  &_up {
    -webkit-transform: rotate($up);
    -moz-transform: rotate($up);
    -ms-transform: rotate($up);
    -o-transform: rotate($up);
    transform: rotate($up);
  }
  &_right {
    -webkit-transform: rotate($right);
    -moz-transform: rotate($right);
    -ms-transform: rotate($right);
    -o-transform: rotate($right);
    transform: rotate($right);
  }
  &_down {
    -webkit-transform: rotate($down);
    -moz-transform: rotate($down);
    -ms-transform: rotate($down);
    -o-transform: rotate($down);
    transform: rotate($down);
  }
  &_left {
    -webkit-transform: rotate($left);
    -moz-transform: rotate($left);
    -ms-transform: rotate($left);
    -o-transform: rotate($left);
    transform: rotate($left);
  }
}